<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left"><%= @folder[:name] %></h3>
    <div class="pull-right">
      <a href="<%= new_folder_item_path(@project.id, @folder[:id]) %>"><i class="fa fa-file"></i> New Item</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <% if @folder[:items].length > 0 %>
      <div class="list-group">  
      <% @folder[:items].each do |item| %>

        <% if item[:type] == :blob %>
          <a href="<%= project_item_path(item[:project_id], item[:id]) %>" class="list-group-item">
            <i class="fa fa-file-text-alt"></i> <%= item[:name] %> 
            <i class="fa fa-chevron-right pull-right"></i>
            <div class="clearfix"></div>
          </a>
        <% else %>
          <a href="<%= project_folder_path(item[:project_id], item[:id]) %>" class="list-group-item">
            <i class="fa fa-folder-close"></i> <%= item[:name] %> 
            <i class="fa fa-chevron-right pull-right"></i>
            <div class="clearfix"></div>
          </a>
        <% end %> 
        
      <% end %>
      </div>
   <% else %>
    <div class="panel-body">
      <i>You don't have any files yet</i>
    </div>
   <% end %>

</div>

