<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Comparison<%= @is_fast_forward ? "(FF)" : "" %></h3>
  </div>
  <% if @diff.length > 0 %>
    <table class="table">
      <thead>
        <tr>
          <td>Old Path</td>
          <td>New Path</td>
          <td>Similarity</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <% @diff.each do |diff| %>
          <tr>
            <td><%= diff[:old_path] %></td>
            <td><%= diff[:new_path] %></td>
            <td><%= diff[:similarity] %></td>
            <td><%= diff[:status] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="panel-body">
      <i>No changes</i>
    </div>
  <% end %>
</div>

<% if @diff.length > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Patch for <%= @project.name %></h3>
    </div>
    <div class="panel-body">
  <pre><%= @patch %></pre>
    </div>
  </div>

  <% if not @in_sync %>
  <a class="btn btn-default" data-action="push" data-id="<%= @project.id %>" href="<%= merge_project_path(@project) %>" title="Merge in changes from upstream"><i class="icon-arrow-down"></i> Merge</a>
  <% else %>
  <a class="btn btn-default" data-action="push" data-id="<%= @project.id %>" href="<%= push_project_path(@project) %>" title="Push changes to upstream"><i class="icon-arrow-up"></i> Push</a>
  <% end %>
<% end %>

<%= link_to 'Back to Project', project_path(@project), :class => 'btn' %>