<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>My Projects</strong>
        <a href="<%= new_project_path %>" class="pull-right"><i class="icon-plus"></i> New</a>
        <div class="clearfix"></div>
      </div>

        <% if @projects and @projects.length > 0 %>

          <div class="list-group">  

          <% @projects.each do |project| %>

            <a href="<%= project_path(project) %>" class="list-group-item">
              <i class="icon-briefcase"></i> <%= project.name %> (<%= project.code %>)
              <i class="icon-chevron-right pull-right"></i>
              <div class="clearfix"></div>
            </a>

            <% end %>
            
          </div>

        <% else %>
        <div class="panel-body">
          <i>You don't have any projects yet</i>
        </div>
        <% end %>

    </div>
  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><i class="icon-group"></i> Shared Projects</strong>
      </div>

        <% if @shared_projects and @shared_projects.length > 0 %>

          <div class="list-group">  

          <% @shared_projects.each do |project| %>

            <a href="<%= project_path(project) %>" class="list-group-item">
              <i class="icon-briefcase"></i> <%= project.name %>
              <i class="icon-chevron-right pull-right"></i>
              <div class="clearfix"></div>
            </a>

            <% end %>

            <% @projects_awaiting_acceptance.each do |project| %>

            <div class="list-group-item">
              <i class="icon-question-sign"></i> <%= project[:name] %> (Awaiting acceptance)
              <a href="<%= project_share_accept_path(project[:share_code]) %>" class="pull-right"><i class="icon-ok"></i> Accept</a>
              <div class="clearfix"></div>
            </div>

            <% end %>
            
          </div>

        <% else %>
        <div class="panel-body">
          <i>You don't have any shared projects yet</i>
        </div>
        <% end %>

    </div>

  </div>

</div>