<% breadcrumb :projects %>

<div class="row">






  <div class="col-md-6">

    <div class="panel panel-default">

      <div class="panel-heading">


        <strong>My Projects</strong>
        <a href="<%= new_project_path %>" class="pull-right"><i class="icon-plus"></i> New</a>
        
        <div class="clearfix"></div>
      </div>

        <% if @projects and @projects.length > 0 %>

          <div class="list-group">  

          <% @projects.each do |project| %>

            <a href="<%= project_path(project) %>" class="list-group-item">
              <i class="icon-briefcase"></i> <%= project.name %> (<%= project.code.slice(0,11) + "..." %>) 
              
              <% if project.conflict? %>
                <span class="label label-warning">Conflicts</span>
              <% end %> 
              
              <i class="icon-chevron-right pull-right"></i>
              <div class="clearfix"></div>
            </a>

            <% end %>
            
          </div>

        <% else %>
        <div class="panel-body">
          <i>You don't have any projects yet</i>
        </div>
        <% end %>

    </div>
  </div>

  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><i class="icon-group"></i> Shared Projects</strong>
      </div>

          <div class="list-group">  

          <% if @shared_projects.length > 0 %>

            <% @shared_projects.each do |project| %>

              <a href="<%= project_path(project) %>" class="list-group-item">
                <i class="icon-briefcase"></i> <%= project.name %> 

                <% if project.conflict? %>
                  <span class="label label-warning">Conflicts</span>
                <% end %> 

                <i class="icon-chevron-right pull-right"></i>
                <div class="clearfix"></div>
              </a>

            <% end %>
          <% end %>

          <% if @projects_awaiting_acceptance.length > 0 %>

            <% @projects_awaiting_acceptance.each do |project| %>

            <div class="list-group-item">
              <i class="icon-question-sign"></i> <%= project[:name] %> (Awaiting acceptance)
              <a href="<%= project_share_accept_path(project[:share_code]) %>" class="pull-right"><i class="icon-ok"></i> Accept</a>
              <div class="clearfix"></div>
            </div>

            <% end %>
            
          </div>

        <% end %>

        <% if @shared_projects.length == 0 and @projects_awaiting_acceptance.length == 0 %>
          <div class="list-group-item">
            <i>You don't have any shared projects yet.</i>
          </div>
          <% end %>

    </div>

  </div>







</div>