-# breadcrumb :projects

.page-header
  %h1.pull-left Projects
  %div
    %a.pull-right.btn.btn-primary{href: wiz_select_type_path}
      %i.fa.fa-plus
      New Project
  .clearfix

.list-group
  - if @projects.any?
    - count = 0
    - @projects.each do |project|

      - if project[:owned] 
        %a.list-group-item{href: project_path(project[:id])}
          - if project[:type] == 'zendesk' 
            = image_tag('zendesk_logo.png', :class => 'project-list-logo')
          - elsif project[:type] == 'desk' 
            = image_tag('desk_logo.png', :class => 'project-list-logo')
          - else
            %i.fa.fa-briefcase
          = project[:name]
          %span.muted (Created by you)
          %i.fa.fa-chevron-right.pull-right
          .clearfix

      - elsif not project[:pending]
        %a.list-group-item{href: project_path(project[:id])}
          %i.fa.fa-group.pull-left
          = project[:name]
          %span.muted 
            = '(Created by ' + project[:username] + ')'
          %i.fa.fa-chevron-right.pull-right
          .clearfix

      - else
        .list-group-item
          %i.fa.fa-group.pull-left
          = project[:name] 
          %span.muted 
            = '(Shared by ' + project[:username] + ')'
          %span.label.label-info Pending Acceptance
          %a.pull-right{href: project_share_accept_path(project[:share_code])}
            %i.fa.fa-ok
            Accept
          .clearfix
  - else
    %span
      %i You don't have any projects


