<% breadcrumb :project, @project %>

<div>
  <div class="pull-left">
    <a href="<%= project_path(@project) %>" class="btn btn-default <%= @central_repo ? "" : "active" %>"><i class="icon-code-fork"></i> My Copy</a>
    vs
    <a href="<%= project_central_path(@project) %>" class="btn btn-default <%= @central_repo ? "active" : "" %>"><i class="icon-cloud"></i> Master</a>
  </div>

  <% if not @central_repo %>
    <div class="pull-right">
      <a class="btn btn-info" data-action="pull" data-id="<%= @project.id %>" href="<%= compare_project_path(@project) %>" title="Pull down changes from upstream">Sync</a>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<br />

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left"><%= @project.name %> Items (<%= @project.code %>)</h3>
    <% if not @central_repo %>
    <div class="pull-right">
      <a href="<%= new_project_item_path(@project.id) %>"><i class="icon-file"></i> New Item</a>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>

  <% if @items && @items.length > 0 %>
      <div class="list-group">  
      <% @items.each do |item| %>

        <% if item[:type] == :blob %>
          <a href="<%= extended_project_item_path(item[:project_id], item[:id], @central_repo) %>" class="list-group-item">
            <i class="icon-file-text-alt"></i> <%= item[:name] %> 
            <i class="icon-chevron-right pull-right"></i>
            <div class="clearfix"></div>
          </a>
        <% end %> 
        
      <% end %>
      </div>
   <% else %>
    <div class="panel-body">
      <i>You don't have any files yet</i>
    </div>
   <% end %>

</div>

<% if @history %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="icon-time"></i> History</h3>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Author</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @history.each do |c| %>
    <tr>
      <td><%= c.time %></td>
      <td><%= c.author[:name] %></td>
      <td><%= c.message %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
<% end %>

<% if not @central_repo %>
  <% if @project.owner %>
    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-default' %>
    <%= link_to 'Share', share_project_path(@project), :class => 'btn btn-default' %>
  <% end %>
<% end %>