<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left"><%= @project.name %> Files</h3>
    <a href="<%= '/projects/' + @project.id.to_s + '/newfile' %>" class="pull-right"><i class="icon-plus"></i> New</a>
    <div class="clearfix"></div>
  </div>

  <% if @tree and @tree.length > 0 %>
      <div class="list-group">  
      <%= @tree.each do |item| %>

        <a href="<%= '/projects/' + @project.id.to_s + '/showfile/' + item[:oid].to_s %>" class="list-group-item">
          <i class="icon-file-text-alt"></i> <%= item[:name] %>
          <i class="icon-chevron-right pull-right"></i>
          <div class="clearfix"></div>
        </a>

      <% end %>
      </div>
   <% else %>
    <div class="panel-body">
      <i>You don't have any files yet</i>
    </div>
   <% end %>

</div>

<% if @walker %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="icon-time"></i> History</h3>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Author</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <%= @walker.each do |c| %>
    <tr>
      <td><%= c.time %></td>
      <td><%= c.author[:name] %></td>
      <td><%= c.message %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
<% end %>

<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-default' %>