.panel.panel-default
  .panel-heading
    %h3.panel-title Connect to Zendesk
  .panel-body
    = form_tag projects_path do
      = hidden_field_tag "project[project_type]", @project.project_type

      .form-group
        .row
          .col-xs-3
            = text_field_tag "domain", "", :placeholder => "Domain", :class => "form-control"
          .col-xs-9
            = ".zendesk.com"

      .form-group
        .row
          .col-xs-12
            = text_field_tag "username", "", :placeholder => "Username", :class => "form-control"
      .form-group
        .row
          .col-xs-12
            = text_field_tag "password", "", :placeholder => "Password", :class => "form-control"

      .form-group
        .row
          .col-xs-12
            = text_field_tag "token", "", :placeholder => "Token", :class => "form-control"

      .form-group
        .row
          .col-xs-12
            = submit_tag 'Connect', :class => 'btn btn-primary'
            = link_to 'Cancel', projects_path, :class => 'btn'