
<%= form_tag project_item_path(@item[:project_id], @item[:id]), :method => 'put' do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><%= @item[:name] %></div>
    </div>
    <div class="panel-body">
      <%= text_area_tag "content", @item[:content], :class => "form-control" %>
    </div>
  </div>
 
  <div class="form-group">
    <%= text_field_tag "message", "", :class => "form-control", :placeholder => "Description of change (optional)" %>
  </div>

  <div>
    <div class="pull-left">
      <%= submit_tag "Save", :class => 'btn btn-primary' %>
      <%= link_to "Cancel", project_item_path(@item[:project_id], @item[:id]), :class => 'btn' %>
    </div>

    <div class="pull-right">
      <%= submit_tag "Delete", :class => 'btn btn-danger' %>
    </div>

    <div class="clearfix"></div>
  </div>
<% end %>