<!DOCTYPE html>
<html>
  <head>
    <title>Weava</title>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

    <script type="text/javascript">
    <% if @user %>
      var currentUser = '<%= @user.email %>';
    <% else %>
      var currentUser = '';
    <% end %>
    </script>
  </head>
  <body>

    <div class="container">

        <%= yield %>
      
    </div><!-- /.container -->

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- PERSONA -->
    <script src="https://login.persona.org/include.js"></script>
  </body>
</html>