<!DOCTYPE html>
<html>
  <head>
    <title>Weava</title>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

    <script type="text/javascript">
      var currentUser = null;
      <% if @user %>
        currentUser = '<%= @user.email %>';
      <% end %>
    </script>
  </head>
  <body>

    <div class="">

      <%= yield %>
    
      <hr />

      <!-- FOOTER -->
      <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 Weava Ltd &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- PERSONA -->
    <script src="https://login.persona.org/include.js"></script>
  </body>
</html>