<!DOCTYPE html>
<html>
  <head>
    <title>Weava</title>
	  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

    <script type="text/javascript">
    <% if @user %>
      var currentUser = '<%= @user.email %>';
    <% else %>
      var currentUser = '';
    <% end %>
    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-weava" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-weava" href="/"><img src="<%= asset_path('logo-small.png') %>" /></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= generate_navigation('main') %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <%= generate_navigation('user') %>
          </ul>
        </div>
      </div>
    </div>

 	<div class="container">

 		<%= yield %>
      
    </div><!-- /.container -->

  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- PERSONA -->
    <script src="https://login.persona.org/include.js"></script>
  </body>
</html>